@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


html {
    font-family: 'DM Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


#select-menu {
    position: absolute;
    left: 50px;
    top: 10px;
    z-index: 10;
}
#headPlace {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;

padding: 10px;
width: 200px;
    background-color: #DDDDDD;

}


/* #storyPlace .card {
    position: absolute;
    background: black;
    top: 50px;
    height: 80vh;
    opacity: .5;
    left: 50%;
    transform: translate(-50%,0);
    width: 80%;
    max-width: 800px;
} */

body {
    height: 99vh;
    width: 99vw;
}



#map {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: opacity .3s ease-in-out;
}

#map.inactive {
    opacity: .35;
}

.card.center {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.card {
    height: auto;
    font-size: 18px;
    width: 400px;
    padding-bottom: 15px;
    transition: box-shadow .15s linear;
    margin-bottom: 95vh;
    border: 1px solid black;
    margin-left: auto;

    background: #4e4d4d;
    box-shadow: 0;
    color: white;
    box-shadow: 0 1px 1px 1px rgb(0 0 0 / 10%);
    padding: 15px 20px;
    transition: all .15s linear;
}

main {
    display: flex;
    width: 85%;
    margin: auto;
    padding-top: 50px;
    flex-direction: column;
    /* pointer-events: none; */
}

#img-holder {
    max-width: 400px;
    position: fixed;
    top: 100px;
    left: 150px;
    pointer-events: none;
}

.card.img-card {
    padding: 0;
}
.card img {
    max-width: 100%;
}
.card.card-title {
    text-align: center;
    color: lightgray;
}

.card-sub {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: gray;
    margin-bottom: 10px;
    color: white;
}

#img-holder img {
    opacity: 0;
    height: 0;
    width: 0;
    transition: all .15s ease-in-out;
    pointer-events: none;    
    box-shadow: 0 1px 1px 1px rgb(0 0 0 / 10%); 
    border: 1px solid black;   
}
#img-holder img.active {
    opacity: 1;
    width: 100%;
    height: auto;
}