@import '../../global-assets/styleBase.scss';

body {
    font-size: 14px;
}

main {
    max-width: 850px;
}



.entry-text {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
}

.entry {
    margin-bottom: 100px;
    background: #595959;
    padding: 15px;
}

.floating-text {
    position: fixed;
    background: #000000b5;
    padding: 10px 20px;
    max-width: 50%;
}

.entry-date {
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: underline;
    text-decoration-color: gray;
}

.back-btn {
    position: fixed;
    right: 0;
    transform: translateX(-50%);
}


