

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400;500;600&display=swap');

body {
  background: #121213; 
  font-family: 'Fraunces';
  color: #e5e5e5;
  font-weight: 300;
  font-size: 16px;
}

main {
    max-width: 950px;
    width: 85%;
    margin: auto;
}

.card.header-row {
    margin: 40px 0;
    display: flex;
    align-items: center;
    height: 120vh;
    /* background: #121213cf;
    background: #121213; */
  }

  h1, h1 span {
    font-size: 34px;
    font-weight: 300;
  } 

#scrolly {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-row {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%; 
  }
  
.card {
    height: 80vh;
    font-size: 24px;
    /* width: 30%; */
    margin-right: 20px;
    padding-bottom: 15px;
  
  
    transition: box-shadow .15s linear;
    margin-bottom: 80px;
  }
.card.end {
margin-bottom: 50vh;
}

.left-pane {
    flex-basis: 60%;
    max-width: 550px;
    width: 60%;
}

.right-pane {
    flex-basis: 50%;
    text-align: right;
    position: relative;
 
}

.vis-holder {
    position: fixed;
    height: 100%;
    z-index: -1;
    top: 0;
    overflow: visible;
    width: 60%;
    max-width: 600px;
    /* max-height: 400px; */
    height: 70vh;
    margin: auto;
    right: 30%;
    top: 100px;
    /* opacity: 0; */
    /* border: 1px solid gray; */
    opacity: 0;
    transform: translateX(50%);
    transition: opacity .15s ease-in-out, right .3s ease-in-out, transform .3s ease-in-out;
}
.vis-holder.center {
  right: 50%;
  transform: translateX(50%) scale(1.3);
}


.pane-img {
  opacity: 0;
  height: 0;
  width: 0;
 transition: opacity .3s ease-in-out;  
}
.pane-img img {
  width: 100%;
  height: 100%;
}
.pane-img.show {
  opacity: 1;
  height: auto;
  width: auto;
}

::-webkit-scrollbar {
    width: 12px;
}
 



 
::-webkit-scrollbar-thumb {

    background:#727274;

}

.link {
  opacity: 0;
}
.node {
  opacity: 0;
}

.link.show {
  opacity: 1;
}
.vis-label {
  position: absolute;
  transform: translate(50%, 50%);
  background: #404040;
  width: 200px;
  padding: 7px 10px;
  top: 13%;
  right: 50%;
  opacity: 0;
  transition: opacity .15s ease-in-out;
  text-align: center
}
.vis-label.show {
  opacity: 1;
}



.node.show {
  opacity: 1;
}