@import './global-assets/styleBase.scss';

body {
    overflow: hidden;
}


.card-container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
   
}

.card {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-grow: 1;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transition: filter .1s linear, text-decoration .1s linear;
    color: white;
    text-decoration: none;;
}
.card:hover {
    filter: brightness(85%);
    text-decoration: underline;
    text-decoration-color: gray;
}

.space {
    background: rgb(40,40,40);
}

.thinking {
    background: rgb(50,50,50);
}
.memory {
    background: rgb(60,60,60);
}
.doing {
    background: rgb(70,70,70);
}

.feeling {
    background: rgb(80,80,80);
}

.btn.info {
    position: fixed;
    top: 50px;
    right: 50px;
    font-size: 22px;
    font-weight: 500;
    box-shadow: 0 1px 3px 0 rgb(0, 0, 0);
    padding: 5px 12px;
    background: #5a5858;
    z-index: 1000;
}

.info-overlay {
    z-index: 100;
    background: black;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top .3s ease-in-out;
}
.info-overlay.show {
    top: 0;
}
.info-overlay .info {
    max-width: 50%;
    font-size: 24px;
}