@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: 'Inter';
  color: #e5e5e5;
  font-weight: 300;
  font-size: 16px;
}

body {
  background: #121213; 
}


main {
  max-width: 950px;
  width: 90%;
  margin: auto;
  padding-top: 50px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  height: 200px;
  background: #414446;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;

}

h1 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}