@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400;500;600&display=swap');

body {
  background: #121213; 
  font-family: 'Fraunces';
  color: #e5e5e5;
  font-weight: 300;
  font-size: 16px;
}


.header-row {
  margin: 40px 0;
  display: flex;
  align-items: center;
  height: 100vh;
  background: #121213cf;
  background: #121213;
}

h1, h1 span {
  font-size: 50px;
  font-weight: 300;
}

  /* .color-text {
    text-decoration: underline;
    text-decoration-color: #727467;
  } */

main {
  max-width: 950px;
  width: 85%;
  margin: auto;
}

.card-row {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%; 
}
#scrolly {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#vis-holder {
  position: fixed;

  height: 100%;

  z-index: -1;
  top: 0;
  overflow: visible;

  width: 80%;
  margin: auto;
  left: 10%;

}

.card {
  height: 80vh;
  font-size: 36px;
  /* width: 30%; */
  margin-right: 20px;
  padding-bottom: 15px;


  transition: box-shadow .15s linear;
  margin-bottom: 80px;
}
.card.end {
  margin-bottom: 50vh;
}
.card.elusive {
  margin-top: 500px;
}

.card-header {

  font-weight: 400;
  margin-bottom: 30px;
  color: white;

/* 
  text-decoration: underline;
  text-decoration-color: #9f9f9f; */
 
}
.card-text {
  color: #9f9f9f;
}

.card-visual {
  width: 100%;
  height: 200px;
  background: black;
  margin: auto;
  margin-bottom: 15px;
}

.more-stuff {
  background: #121213;
  padding-top: 400px;
  color: #9f9f9f;
}
.lowlight {
  color: white;
}