@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: 'Inter';
  color: #e5e5e5;
  font-weight: 300;
  font-size: 16px;
}

body {
  background: #121213; 
}


.header-row {
  margin: 40px 0;
}
h1, h1 span {
  font-size: 30px;
  font-weight: 400;
}

.color-text {
  text-decoration: underline;
  text-decoration-color: #727467;
}

main {
  max-width: 950px;
  width: 90%;
  margin: auto;
}

.card-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  height: 400px;
  background: #414446;
  width: 30%;
  margin-right: 20px;
  padding-bottom: 15px;
  /* padding: 25px 25px; */
  opacity: .7;
  cursor: pointer;
  transition: box-shadow .15s linear, opacity .15s linear;
}
.card:hover {
  opacity: 1;
  box-shadow: 0 2px 3px 2px #00000024;
}


.card-header {
  font-size: 20px;
  font-weight: 500;
  padding: 15px 25px;
  background: #333638;
  margin-bottom: 25px;
}
.card-body {
  padding: 0 25px;
}
.card-visual {
  width: 100%;
  height: 200px;
  background: black;
  margin: auto;
  margin-bottom: 15px;
}
