
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600&family=Space+Grotesk:wght@300;400;500;600&display=swap');

* {
  font-family: 'Epilogue';
  color: #e5e5e5;
  font-weight: 300;
  font-size: 16px;
}

body {
  background: #121213; 
}


main {
  max-width: 950px;
  width: 90%;
  margin: auto;
  padding-top: 50px;
}


h1 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}


.room {
  fill: gray;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.track-holder {
  display: flex;
  flex-direction: row;
  padding: 5px 0px;
  align-items: center;
}
.nav {
  display: flex;
  margin-right: 20px;
}
.nav .btn {
  border: 1px solid white;
  padding: 5px 8px;
  margin-right: 10px;
  cursor: pointer;
}